@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

main {
  position: relative;
}

.main-container {
  display: flex;
  gap: 3rem;
}

body {
  background: rgb(0, 0, 0);
  font-family: 'Inter', 'sans-serif';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game-table {
  background: rgb(35, 128, 58);
  background: linear-gradient(126deg, rgba(35, 128, 58, 1) 0%, rgba(35, 133, 59, 1) 100%);
  width: 400px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 0 0 20px #141717;
  padding: 2rem;
}
h1 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  color: #0c2e14;
  text-align: center;
  font-size: 1.5rem;
}

h3 {
  color: #fff;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.deck {
  display: flex;
  justify-content: center;
}

.deck img {
  display: block;
  width: 100%;
  max-width: 200px;
  height: 150px;
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
  cursor: pointer;
  margin-top: 2rem;
}

.cards {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.absolute-card {
  width: 70px;
}

.players-score {
  color: white;
  margin-top: 3rem;
}

.players-score p + p {
  margin-top: 0.875rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.stop-button,
.new-game-button {
  border: 0;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background: rgb(35, 128, 58);
  font-size: 1rem;
  margin-top: 2rem;
  transition: 0.2s;
}

.stop-button:hover {
  background: #cc0e0e;
}

.new-game-button {
  background: #0890a8;
}

.new-game-button:hover {
  background: rgb(35, 128, 58);
}

.hidden {
  display: none;
}
